body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

nav {
  height: 60px;
  background-color: #C4EDFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 0 10px black;
  z-index: 1;
}

nav img {
  height: 100%;
}

nav a {
  height: 80%;
  margin: auto 0;
}

nav #brand {
  height: 100%;
}

.cards {
  flex: 1;
  background-color: #EEE;
  overflow-y: hidden;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card img {
  width: 100%;
  align-self: center;
}
