body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

nav {
  height: 60px;
  background-color: #60CEFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 0 10px black;
  z-index: 999999;
}

nav img {
  height: 100%;
}

nav div {
  height: 60%;
  margin: auto 0;
}

nav div a {
  margin-right: 8px;
  text-decoration: none;
}

nav #brand {
  height: 100%;
}

.new-matches-header p {
  color: white;
  background-color: #FF9EF6;
  margin: 0;
  padding: 1% 2%;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
}

.new-matches {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 150px;
  padding: 0 10%;
}

.new-matches img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  margin: auto 4%;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  padding: 0 4%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.message img {
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  height: 80px;
  width: 80px;
}

.message-text {
  font-family: 'Mukta', sans-serif;
  margin-left: 16px;
}

.message-text * {
  margin: 0;
}

.message-text h6 {
  font-size: 1.25em;
  font-weight: 400;
}

.message-text p {
  font-size: 1em;
  font-weight: 200;
  color: #333;
}
