body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

nav {
  height: 60px;
  background-color: #C4EDFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 0 10px black;
  z-index: 999999;
}

nav img {
  height: 100%;
}

nav div {
  height: 60%;
  margin: auto 0;
}

nav div a {
  margin-right: 8px;
}

nav #brand {
  height: 100%;
}

i {
  display: inline-block;
  margin-left: 8px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.profile-header .profile-pic {
  box-shadow: 0 0 5px gray;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  position: relative;
}

.profile-pic img {
  width: 100%;
  height: 100%;
}

.pic-edit {
  position: absolute;
  top: 5px;
  right: 5px;
}

.profile-header p {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  margin-left: 16px;
}

.profile-info {
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  padding: 0 10%;
  margin-top: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid gray;
}

.profile-info p {
  margin: 0;
}

.for-trade-head {
  background-color: #EEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8%;
}

.for-trade-head p {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5em;
}

.for-trade-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.for-trade-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100px;
  align-items: center;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.for-trade-item img {
  border-radius: 50%;
  box-shadow: 0 0 5px lightgray;
  height: 60px;
  width: 60px;
  margin-left: 10%;
  vertical-align: center;
}

.for-trade-item p {
  font-family: 'Mukta', sans-serif;
  font-size: 1em;
  margin-left: 10%;
}
